.textbox {
	width: 20rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.textbox input[type="text"],
.textbox input[type="password"] {
	width: 100%;
	height: 40px;
	line-height: 40px;
	// padding: 15px;
}

.btn {
	width: 150px;
}
